<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	
	mybatis-userservice-mapping.xml : SQL 를 갖는 설정화일 (MetaData) 
	- MyBatis Framework 은 XML MetaData를 사용 SQL구문을 관리하며,
	  (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 의 외부로 분리함)
	- SQL문의 입력(?) / 출력(?)을 매핑한다.  <== 아래의 select element 참조
 -->
 
<!-- SQL definition -->
<!-- 컬럼명과 vo클래스의 필드명이 다를 때는 반드시 as 뒤에 필드명을 지정해야한다. Framework마다 다른데 mybatis는 바꿔줘야함 -->
<mapper namespace="UserMapper02">
	<!--
		ㅇ Application 에서 User.getUserList id 로 아래의 SQL 을 참조 할 수 있다.    
	 -->
	 <select id="getUser01" resultType="user" parameterType="string">
	 	 SELECT user_id as userId,user_name as userName,password as password,age as age ,grade as grade ,reg_date as regDate
	 	 FROM users
	 	 WHERE user_id like #{value}
	 </select>
	 
	 <select id="getUser02" resultType="user" parameterType="user">
	 	SELECT user_id as userId,user_name as userName,password as password,age as age ,grade as grade ,reg_date as regDate
	 	 FROM users
	 	 WHERE user_id like #{userId}
	 </select>
	 
	 <select id="getUser03" resultType="user" parameterType="string">
	 	SELECT user_id as userId,user_name as userName,password as password,age as age ,grade as grade ,reg_date as regDate
	 	 FROM users
	 	 WHERE user_id like '%' #{value} '%'
	 </select>
	 
	 <select id="getUser04" resultType="user" parameterType="user">
	 	SELECT user_id as userId,user_name as userName,password as password,age as age ,grade as grade ,reg_date as regDate
	 	 FROM users
	 	 WHERE user_id like '%' #{userId} '%'
	 </select>
</mapper>