<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--	
	mybatis-userservice-mapping.xml : SQL 를 갖는 설정화일 (MetaData) 
	- MyBatis Framework 은 XML MetaData를 사용 SQL구문을 관리하며,
	  (SQL은 xml 을 통해 적절히 캡슐화 되어 애플리케이선 의 외부로 분리함)
	- SQL문의 입력(?) / 출력(?)을 매핑한다.  <== 아래의 select element 참조
 -->
 
<!-- SQL definition -->
<!-- 컬럼명과 vo클래스의 필드명이 다를 때는 반드시 as 뒤에 필드명을 지정해야한다. Framework마다 다른데 mybatis는 바꿔줘야함 -->
<mapper namespace="UserMapper01">
	<!--
		ㅇ Application 에서 User.getUserList id 로 아래의 SQL 을 참조 할 수 있다.    
	 -->
	 <select id="getUserList" resultType="user">
	 	 SELECT user_id as userId,user_name as userName,password as password,age as age ,grade as grade ,reg_date as regDate
	 	 FROM users
	 </select>
	 
	 <!-- value는 무조건 단순 파라미터 값 
	 	 collection, 자바 라이브러리 클래스의 알리아스 사용 string, int, list, arraylist의 형태로 변경.
	  -->
	 <select id="getUser" resultType="user" parameterType="string">
	 	SELECT user_id as userId,user_name as userName,password as password,age as age ,grade as grade ,reg_date as regDate
	 	FROM users
	 	WHERE user_id = #{value}
	 </select>
	 
	 <!-- parameter type에 VO가 들어오면 #{}getter를 사용한다
	 	  VO가 들어오지 않으면 무조건 #{value} -->
	 <select id="findUserId" resultType="string" parameterType="user">
	 	SELECT user_name as userName
	 	FROM users
	 	WHERE user_id = #{userId} and password = #{password}
	 </select>
</mapper>