@charset "UTF-8";

h2{
	text-align: center;
	color: green;
	font-weight: bold;
	font-size: 25pt;
	}
	
	p{
	text-align: center;
	font-family:궁서체;
	margin-left:10%;
	margin-right: 10%;
	font-size:25pt;
	}