@charset "UTF-8";

	div{
		border: 5px solid gray;
		border-style: ridge;
		width:550px;
		padding:30px;
		margin: 10px;
	}
	
	img{
		width:150px;
		height:150px;
		margin-right: 30px;
	}
	form{
	float:right;
	text-align:right;
	}
	form p{
	text-align:center;
	}
	
	hr{
	border: 0;
	border-top: 1px gray;
	border-style:dotted;
	margin: 15px 0;
	width: 182.4px;
    float: right;
	}
	
	label{
	font-weight: 0;
	margin-right: 5px;
	}
	
	form [type=submit]{
	position: absolute;
    margin-top: 26px;
    }